* {
    box-sizing: border-box;
    

}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-template-areas: 
    "head"
    "navigation"
    "main-section";
    /* max-width: 320px; */
}
/* Header Styles */
header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    background-color: rgb(90, 57, 238);
    color: white;
    margin: 0;
    padding: 0;

}

.header-left,
.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    
}

.header-left {
    border-right: solid 1px;
}


#bell {
    width: 25px;
    height: 100%;
    margin-left: 15px;
    fill: white;
}

#student-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}




.navigation {
    grid-area: navigation;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(43, 13, 179);
}

.navigation svg {
    fill: white;
    width: 40px;
    height: 50px;

}

.main-section {
    grid-area: main-section;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    grid-template-areas: 
    "headline search"
    "alert alert";
    padding:0;
}


.headline {
    grid-area: headline;
    max-width: 30%;
}

.main-header-search {
    grid-area: search;
}


.search {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: rgb(224, 223, 223);
    
}

.alert {
    grid-area: alert;
    background-color: rgb(43, 13, 179);
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-top: 20px;
}
.alert-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

svg {
    width: 50px;
    height: 50px;
}


.traffic-nav {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-weight: bold;
}

#hourly {
    background-color: chartreuse;
    border-radius: 10px;
    padding: 7px;
}

.social-container {
    text-align: center;
    border-top: solid black .8px;
    border-bottom: solid black .8px;
    
}

.social-box {
    background-color: rgb(190, 186, 186);
    display: flex;
    margin-bottom: 30px;
    color:rgb(90, 57, 238);
    justify-content:space-around;
    border: solid black .5px;
    border-radius: 10px;
    font-weight: bold;
}

.social-svg {
    background-color:rgb(90, 57, 238);
    fill:white;
    padding: 8px;
    border-radius: 50%;;
    margin: 50%;
}

.members-container,
.activity-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    border-bottom: solid black .8px;
    width: 100%;
}



.profile-image {
    border-radius: 50%;;
}

.widget-container-full {
    width: 100%;
}

.message {
    border-bottom: solid black .8px;
    padding-bottom: 10px;
    width: 100%;
}

.widget-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#userField,
#messageField {
    background-color: silver;
    margin-bottom: 15px;
    border-radius: 5px;
}

#send {
    height: 50px;
    border-radius: 5px;
    background-color:rgb(90, 57, 238);
    color: white;
}
/* media queries  */

.settings-box {
    display:flex;
    flex-direction: column;
    width: 100%;
}

#timezone {
    background-color: silver;
    
}
#timezone-select {
    color:rgb(43, 13, 179);
}

.settings-button {
    display: flex;
    max-width: 100%;
    margin-top: 10px;
}

.button-primary {
    background-color: rgb(90, 57, 238);
}

.button-disabled {
    color:rgb(51, 50, 50);
}

.button-primary,
.button-disabled {
    margin: auto;
    width:45%;
    color: white;
    border-radius: 5px;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "head head"
        "navigation main-section";
    }
}
.main-section {
    display: grid;
}
@media (min-width: 768px) {
    .main-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .traffic, .social-container {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {
    .daily-traffic, .members, .message {
        grid-column: 1 / span 1;
    }
}

@media (min-width: 768px) {
    .mobile-users, .activity, .settings {
        grid-column: 2 / span 1;
    }
}

.widget-container-full {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full{
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}