* {
    box-sizing: border-box;

}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
/* Header Styles */
header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(131, 74, 131);
    color: white;
    height: 20vh;
    padding: 0;
    margin: 0;
}
.header-left,
.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 8px;
}

.header-left {
    border-right: solid 1px;
}


.header-right h4 {
    margin-left: 5px;
}



img {
    border-radius: 50%;
    max-width: 50%;
    max-height: 1.5rem;

}